<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/config.xsd">
    <default>
        <orangecat_checkip>
            <ip>
                <url_ipblacklist><![CDATA[https://iplists.firehol.org/files/firehol_level1.netset]]></url_ipblacklist>
                <update_interval>0 */8 * * *</update_interval>
                <delay_seconds>2</delay_seconds>
                <log_retention_days>30</log_retention_days>
            </ip>
            <bot>
                <delay_seconds>2</delay_seconds>
                <log_retention_days>30</log_retention_days>
            </bot>
        </orangecat_checkip>
    </default>
</config>
